<!DOCTYPE html>
<html>
<head>
  <title>vishal harkal</title>
</head>
<body>
  <h1>Vishal Harkal</h1>
  <p>As an AI Engineer, I specialize in developing and deploying sophisticated machine learning models that drive innovation and solve complex business challenges. My expertise lies in the entire ML lifecycle, from data preprocessing to model deployment and automation. I have extensive experience in training large-scale models, optimizing their performance, and implementing automated pipelines for continuous model updates. My work focuses on creating scalable AI solutions that seamlessly integrate with existing systems. My passion lies in automating ML operations and creating efficient deployment strategies that ensure models perform reliably in production environments. I'm constantly exploring new technologies and methodologies to enhance AI system capabilities.</p>
  <h1>
    open source projects
    
  </h1>
<div>
  <button id="contactbutton">
    contact us
  </button>
</div>
</body>
</html>